src/main/mule/azure-devops-integration-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
		<flow name="azure-devops-integration-apiFlow" doc:id="6a48b0be-cde7-433e-905c-31191eb7965c" >
		<http:listener doc:name="Listener" doc:id="350c22c6-33c2-43ad-8301-899a70b184e9" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="#[&quot;Bit bucket integration : &quot; ++ p('body.payload')]" doc:name="Set Payload" doc:id="a2218244-6ff2-4758-a20c-adf4eddb8cbe" />
		<logger level="INFO" doc:name="Logger" doc:id="e133f866-3a81-4f3b-ae28-b8c6a417cefe" message="#[p('body.payload')]"/>
	</flow>
	</mule>
